/* General Styles */
body{
    background:lightgray;
}
.errors{
    width:600px;
    margin:0 auto;
    color: #FF0000;
}
form{
    width:600px;
    margin:0 auto;
}
legend{
    font-size:2em;
}
p{
    margin:5px 0;
}
fieldset{
    padding:10px;
}
.success{
    width:600px;
    margin:0 auto;
    text-align:center;
}